<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-userBirthday-add">
      				<div class="form-group">	
				<label class="col-sm-3 control-label">微信用户id，wx_user表主键：</label>
				<div class="col-sm-8">
					<input id="userId" name="userId" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">姓名：</label>
				<div class="col-sm-8">
					<input id="userName" name="userName" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">头像：</label>
				<div class="col-sm-8">
					<input id="avatar" name="avatar" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">性别，0女，1男：</label>
				<div class="col-sm-8">
					<input id="gender" name="gender" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">农历生日：</label>
				<div class="col-sm-8">
					<input id="lunarBirthday" name="lunarBirthday" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">公历生日：</label>
				<div class="col-sm-8">
					<input id="gregorianBirthday" name="gregorianBirthday" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">历法，0 公历，1农历：</label>
				<div class="col-sm-8">
					<input id="calendar" name="calendar" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">是否闰月，0不润，1润：</label>
				<div class="col-sm-8">
					<input id="leapMonth" name="leapMonth" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">爱好：</label>
				<div class="col-sm-8">
					<input id="hobby" name="hobby" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">星座，枚举：</label>
				<div class="col-sm-8">
					<input id="constellation" name="constellation" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">题型类型，0，不提醒，1，小程序提醒，2，邮箱提醒，3，手机号提醒，4，公众号提醒：</label>
				<div class="col-sm-8">
					<input id="reminderType" name="reminderType" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">题型时间，定义枚举：</label>
				<div class="col-sm-8">
					<input id="reminderTime" name="reminderTime" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">关系，：</label>
				<div class="col-sm-8">
					<input id="relation" name="relation" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">组id：</label>
				<div class="col-sm-8">
					<input id="groupId" name="groupId" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">类型，0，是个人添加，1，是群组添加：</label>
				<div class="col-sm-8">
					<input id="type" name="type" class="form-control" type="text">
				</div>
			</div>
          	      	      	      	      	   			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "module/userBirthday"
		$("#form-userBirthday-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/add", $('#form-userBirthday-add').serialize());
			}
		});
	</script>
</body>
</html>
