<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.module.film.mapper.FilmMapper">
    
    <resultMap type="Film" id="FilmResult">
        <result property="id"    column="id"    />
        <result property="filmName"    column="film_name"    />
        <result property="filmNameUa"    column="film_name_ua"    />
        <result property="imgIndex"    column="img_index"    />
        <result property="chainShow"    column="chain_show"    />
        <result property="downlineDate"    column="downline_date"    />
        <result property="status"    column="status"    />
        <result property="label"    column="label"    />
        <result property="filmTime"    column="film_time"    />
        <result property="filmExplain"    column="film_explain"    />
        <result property="isValid"    column="is_valid"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>
	
	<sql id="selectFilmVo">
        select id, film_name, film_name_ua, img_index, chain_show, downline_date, status, label, film_time, film_explain, is_valid, create_user, create_date, update_user, update_date from movie_film
    </sql>
	
    <select id="selectFilmList" parameterType="Film" resultMap="FilmResult">
        <include refid="selectFilmVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="filmName != null and filmName != ''"> and film_name = #{filmName}</if>
             <if test="filmNameUa != null and filmNameUa != ''"> and film_name_ua = #{filmNameUa}</if>
             <if test="imgIndex != null and imgIndex != ''"> and img_index = #{imgIndex}</if>
             <if test="chainShow != null and chainShow != ''"> and chain_show = #{chainShow}</if>
             <if test="downlineDate != null and downlineDate != ''"> and downline_date = #{downlineDate}</if>
             <if test="status != null and status != ''"> and status = #{status}</if>
             <if test="label != null and label != ''"> and label = #{label}</if>
             <if test="filmTime != null and filmTime != ''"> and film_time = #{filmTime}</if>
             <if test="filmExplain != null and filmExplain != ''"> and film_explain = #{filmExplain}</if>
             <if test="isValid != null and isValid != ''"> and is_valid = #{isValid}</if>
             <if test="createUser != null and createUser != ''"> and create_user = #{createUser}</if>
             <if test="createDate != null and createDate != ''"> and create_date = #{createDate}</if>
             <if test="updateUser != null and updateUser != ''"> and update_user = #{updateUser}</if>
             <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate}</if>
         </where>
    </select>
    
    <select id="selectFilmById" parameterType="Long" resultMap="FilmResult">
        <include refid="selectFilmVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFilm" parameterType="Film">
        insert into movie_film
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="filmName != null and filmName != '' ">film_name,</if>
			<if test="filmNameUa != null and filmNameUa != '' ">film_name_ua,</if>
			<if test="imgIndex != null and imgIndex != '' ">img_index,</if>
			<if test="chainShow != null ">chain_show,</if>
			<if test="downlineDate != null  ">downline_date,</if>
			<if test="status != null and status != '' ">status,</if>
			<if test="label != null and label != '' ">label,</if>
			<if test="filmTime != null and filmTime != '' ">film_time,</if>
			<if test="filmExplain != null and filmExplain != '' ">film_explain,</if>
			<if test="createUser != null and createUser != '' ">create_user,</if>
			<if test="updateUser != null and updateUser != '' ">update_user,</if>
			<if test="updateDate != null and updateDate != '' ">update_date,</if>
            is_valid,
            create_date,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="filmName != null and filmName != ''">#{filmName},</if>
			<if test="filmNameUa != null and filmNameUa != ''">#{filmNameUa},</if>
			<if test="imgIndex != null and imgIndex != ''">#{imgIndex},</if>
			<if test="chainShow != null ">#{chainShow},</if>
			<if test="downlineDate != null">#{downlineDate},</if>
			<if test="status != null and status != ''">#{status},</if>
			<if test="label != null and label != ''">#{label},</if>
			<if test="filmTime != null and filmTime != ''">#{filmTime},</if>
			<if test="filmExplain != null and filmExplain != ''">#{filmExplain},</if>
			<if test="createUser != null and createUser != ''">#{createUser},</if>
			<if test="updateUser != null and updateUser != ''">#{updateUser},</if>
			<if test="updateDate != null and updateDate != ''">#{updateDate},</if>
            1,
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateFilm" parameterType="Film">
        update movie_film
        <trim prefix="SET" suffixOverrides=",">
            <if test="filmName != null  and filmName != ''  ">film_name = #{filmName},</if>
            <if test="filmNameUa != null  and filmNameUa != ''  ">film_name_ua = #{filmNameUa},</if>
            <if test="imgIndex != null  and imgIndex != ''  ">img_index = #{imgIndex},</if>
            <if test="chainShow != null  ">chain_show = #{chainShow},</if>
            <if test="downlineDate != null  ">downline_date = #{downlineDate},</if>
            <if test="status != null  ">status = #{status},</if>
            <if test="label != null  and label != ''  ">label = #{label},</if>
            <if test="filmTime != null  ">film_time = #{filmTime},</if>
            <if test="filmExplain != null  and filmExplain != ''  ">film_explain = #{filmExplain},</if>
            <if test="isValid != null  ">is_valid = #{isValid},</if>
            <if test="createUser != null  and createUser != ''  ">create_user = #{createUser},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="updateDate != null  ">update_date = #{updateDate},</if>
            update_user = sysdate()
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteFilmById" parameterType="Long">
        delete from movie_film where id = #{id}
    </delete>
	
    <delete id="deleteFilmByIds" parameterType="String">
        delete from movie_film where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>