<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.module.groupUser.mapper.GroupUserMapper">
    
    <resultMap type="GroupUser" id="GroupUserResult">
        <result property="id"    column="id"    />
        <result property="groupId"    column="group_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
	
	<sql id="selectGroupUserVo">
        select id, group_id, user_id, create_user, create_time from birthday_group_user
    </sql>
	
    <select id="selectGroupUserList" parameterType="GroupUser" resultMap="GroupUserResult">
        <include refid="selectGroupUserVo"/>
        <where>  
            <if test="id != null and id != ''"> and id = #{id}</if>
             <if test="groupId != null and groupId != ''"> and group_id = #{groupId}</if>
             <if test="userId != null and userId != ''"> and user_id = #{userId}</if>
             <if test="createUser != null and createUser != ''"> and create_user = #{createUser}</if>
             <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
         </where>
    </select>
    
    <select id="selectGroupUserById" parameterType="Long" resultMap="GroupUserResult">
        <include refid="selectGroupUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGroupUser" parameterType="GroupUser">
        insert into birthday_group_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null and id != '' ">id,</if>
			<if test="groupId != null and groupId != '' ">group_id,</if>
			<if test="userId != null and userId != '' ">user_id,</if>
			<if test="createUser != null and createUser != '' ">create_user,</if>
			<if test="createTime != null and createTime != '' ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null and id != ''">#{id},</if>
			<if test="groupId != null and groupId != ''">#{groupId},</if>
			<if test="userId != null and userId != ''">#{userId},</if>
			<if test="createUser != null and createUser != ''">#{createUser},</if>
			<if test="createTime != null and createTime != ''">#{createTime},</if>
         </trim>
    </insert>
	 
    <update id="updateGroupUser" parameterType="GroupUser">
        update birthday_group_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null  ">group_id = #{groupId},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="createUser != null  ">create_user = #{createUser},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteGroupUserById" parameterType="Long">
        delete from birthday_group_user where id = #{id}
    </delete>
	
    <delete id="deleteGroupUserByIds" parameterType="String">
        delete from birthday_group_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>