<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-perforer-edit" th:object="${perforer}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
	            <div class="form-group">	
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input id="perforerName" name="perforerName" th:field="*{perforerName}" class="form-control" type="text">
                </div>
            </div>
  	            <div class="form-group">	
                <label class="col-sm-3 control-label">演员饰名字：</label>
                <div class="col-sm-8">
                    <input id="perforerNames" name="perforerNames" th:field="*{perforerNames}" class="form-control" type="text">
                </div>
            </div>
  	            <div class="form-group">	
                <label class="col-sm-3 control-label">影片：</label>
                <div class="col-sm-8">
                    <input id="filmId" name="filmId" th:field="*{filmId}" class="form-control" type="text">
                </div>
            </div>
  	            <div class="form-group">	
                <label class="col-sm-3 control-label">图片：</label>
                <div class="col-sm-8">
                    <input id="accountImg" name="accountImg" th:field="*{accountImg}" class="form-control" type="text">
                </div>
            </div>
  	            <div class="form-group">	
                <label class="col-sm-3 control-label">类型，0，导演，1演员：</label>
                <div class="col-sm-8">
                    <input id="type" name="type" th:field="*{type}" class="form-control" type="text">
                </div>
            </div>
  					    <div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "module/perforer"
		$("#form-perforer-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			submitHandler: function(form) {
				$.operate.save(prefix + "/edit", $('#form-perforer-edit').serialize());
			}
		});
	</script>
</body>
</html>
