<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="container-div">
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="module:cinemaHall:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.removeAll()" shiro:hasPermission="module:cinemaHall:remove">
				<i class="fa fa-trash-o"></i> 删除
			</a>
		</div>
			
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
    </div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('module:cinemaHall:edit')}]];
        var removeFlag = [[${@permission.hasPermi('module:cinemaHall:remove')}]];
        var prefix = ctx + "module/cinemaHall"

		function setList(id) {
            window.location.href =  prefix + "/seatList?id="+id
			
        }
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                modalName: "影院影厅",
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '' 
				},
				{
					field : 'hallName', 
					title : '电影厅名字' 
				},
				{
					field : 'seatNumber', 
					title : '座位数量' 
				},
				{
					field : 'rowNumber', 
					title : '排数' 
				},
				{
					field : 'columnNumber', 
					title : '列数量' 
				},
				{
					field : 'seatRule', 
					title : '座位排列规则' 
				},
				{
					field : 'cinemaName',
					title : '影院'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        actions.push('<a class="btn btn-info btn-xs ' + removeFlag + '" href="#" onclick="setList(\'' + row.id + '\')"><i class="fa fa-list-ul"></i>管理座位</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>