<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-film-add">
      				<div class="form-group">	
				<label class="col-sm-3 control-label">影片名称（中文）：</label>
				<div class="col-sm-8">
					<input id="filmName" name="filmName" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">影片名称（英文）：</label>
				<div class="col-sm-8">
					<input id="filmNameUa" name="filmNameUa" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">首页图片（宣传图）：</label>
				<div class="col-sm-8">
					<input  name="imgIndex" id="imgIndexId" style="display: none" class="form-control" type="text">
					<div class="layui-upload">
						<button type="button" class="layui-btn" id="imgIndex">上传图片</button>
						<div class="layui-upload-list">
							<img  class="layui-upload-img" id="imgIndex_1">
							<p id="demoText"></p>
						</div>
					</div>

				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">中国上映日期：</label>
				<div class="col-sm-8 select-time">
					<input type="text" class="layui-input" id="chainShow"  name="chainShow" >
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">下线日期：</label>
				<div class="col-sm-8 select-time">
					<input type="text" class="layui-input" id="downlineDate"  name="downlineDate" >
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<select id="status" name="status"  class="form-control m-b">
						<option value="0">未上映</option>
						<option value="1">预售</option>
						<option value="2">上映</option>
						<option value="3">下映</option>
					</select>
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">标签：</label>
				<div class="col-sm-8">
					<input  name="label" id="label" style="display: none" class="form-control" type="text">
					<label th:each="lable:${@dict.getType('movie_film_lable')}" class="check-box">
						<input id="label_temp" name="label_temp" type="checkbox" th:text="${lable.dictLabel}" th:value="${lable.dictValue}">
					</label>
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">影片时长（单位分钟）：</label>
				<div class="col-sm-8">
					<input id="filmTime" name="filmTime" class="form-control" type="text">
				</div>
			</div>
          				<div class="form-group">	
				<label class="col-sm-3 control-label">说明：</label>
				<div class="col-sm-8">
					<input id="filmExplain" name="filmExplain" class="form-control" type="text">
				</div>
			</div>
          	      	      	      	      	   			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "module/film"
		$("#form-film-add").validate({
			rules:{
                filmName:{
					required:true,
				},
                filmNameUa:{
                    required:true,
                },
                imgIndex:{
                    required:true,
                },
                chainShow:{
                    required:true,
                },
                downlineDate:{
                    required:true,
                },
                status:{
                    required:true,
                },
                label_temp:{
                    required:true,
                },
                filmTime:{
                    required:true,
                    isNumber:true,
                },
			},
			submitHandler: function(form) {
                var lable = $.form.selectCheckeds("label_temp");
                $("#label").val(lable)
				$.operate.save(prefix + "/add", $('#form-film-add').serialize());
			}
		});


        layui.use(['upload', 'laydate'], function(){
            var $ = layui.jquery
                ,upload = layui.upload;

            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#chainShow' //指定元素
                ,type: 'datetime'
            });
            laydate.render({
                elem: '#downlineDate' //指定元素
                ,type: 'datetime'
            });

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#imgIndex'
                ,url: prefix+'/uploadPic/'
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#imgIndex_1').attr('src', result); //图片链接（base64）
                        $('#imgIndex_1').attr('style', "height: 50px;width: 50px;"); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    //如果上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    $("#imgIndexId").val( res.msg)
                    //上传成功
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });
	</script>
</body>
</html>
